In [1]:
import pandas as pd

place_data=pd.read_csv('/home/irteam/junghye-dcloud-dir/dscapstone/data_analysis/preprocessed_data/5_by_place.csv')
crime_data=pd.read_csv('/home/irteam/junghye-dcloud-dir/dscapstone/data_analysis/preprocessed_data/5_crimes_b_g.csv')
cctv_data=pd.read_csv('/home/irteam/junghye-dcloud-dir/dscapstone/data_analysis/preprocessed_data/cctv_region_by_year.csv')

In [2]:
place_data.head()

     년도         장소 범죄유형      건수
0  2014  아파트 연립다세대   소계  130674
1  2014       단독주택   소계    5671
2  2014         노상   소계    7325
3  2014         상점   소계   39067
4  2014   숙박업소 목욕탕   소계    5068

In [3]:
crime_data.head()

     년도  자치구 범죄유형  발생건수  검거건수
0  2014  종로구   소계  5021  4610
1  2014   중구   소계  5231  3188
2  2014  용산구   소계  3799  2340
3  2014  성동구   소계  3582  2048
4  2014  광진구   소계  6268  3531

In [4]:
cctv_data.head()

,자치구,총계,2014년 이전,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년,2023년
0,계,"92,991","5,896","3,927","6,416","8,812","11,598","10,887","13,083","11,803","9,396","9,302","1,871"
1,종로구,"1,966",553,103,160,130,144,150,67,233,88,207,131
2,중 구,"2,584",217,77,236,240,372,386,155,361,403,137,0
3,용산구,"2,970",87,68,83,295,491,115,322,623,422,464,0
4,성동구,"4,175",157,110,366,281,942,457,643,485,367,232,135

### 1. 어디에 설치할지 (장소, 범죄)
### 2. cctv가 검거에 효과가 있는지

In [5]:
# 계 drop
cctv_data=cctv_data.drop([0],axis=0,inplace=False)
cctv_data

,자치구,총계,2014년 이전,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년,2023년
1,종로구,"1,966",553,103,160,130,144,150,67,233,88,207,131
2,중 구,"2,584",217,77,236,240,372,386,155,361,403,137,0
3,용산구,"2,970",87,68,83,295,491,115,322,623,422,464,0
4,성동구,"4,175",157,110,366,281,942,457,643,485,367,232,135
5,광진구,"3,592",130,176,95,40,666,460,712,190,738,273,112
6,동대문구,"2,759",3,5,72,774,702,201,218,229,229,317,9
7,중랑구,"4,193",555,104,145,153,170,215,1074,976,507,294,NaN
8,성북구,"4,957",318,229,322,594,811,867,714,253,407,338,104
9,강북구,"3,321",21,16,68,210,4,375,963,569,298,797,NaN
10,도봉구,"2,385",98,54,27,91,116,183,195,179,592,591,259
11,노원구,"2,626",238,75,509,329,171,216,324,387,215,144,18
12,은평구,"4,653",61,332,329,555,403,635,"1,057",288,471,522,0
13,서대문구,"3,538","1,012",114,109,277,416,246,325,441,331,174,93
14,마포구,"2,638",61,109,170,458,376,368,494,298,177,117,10
15,양천구,"3,890",369,129,243,423,564,833,311,352,374,292,NaN
16,강서구,"3,353",132,200,192,167,507,259,455,363,441,596,41
17,구로구,"4,831",307,160,263,351,559,542,789,652,689,341,178
18,금천구,"2,885",NaN,43,350,132,196,539,366,513,207,304,235
19,영등포구,"4,660",190,295,360,285,422,803,153,1357,329,450,16
20,동작구,"2,690",88,478,127,255,270,299,311,433,30,373,26
21,관악구,"5,642",592,277,448,607,675,663,889,404,549,135,403
22,서초구,"4,995",160,70,559,518,1054,426,344,422,566,876,0
23,강남구,"7,243",121,573,826,1295,989,744,790,923,514,468,0
24,송파구,"3,253",149,74,183,126,227,526,1050,237,151,431,99
25,강동구,"3,192",277,56,174,226,351,379,362,635,301,429,2

In [6]:
cctv_data=cctv_data.drop(cctv_data.columns[[1,2]],axis=1,inplace=False)
cctv_data

     자치구 2014년 2015년 2016년 2017년 2018년  2019년 2020년 2021년 2022년 2023년
1    종로구   103   160   130   144   150     67   233    88   207   131
2    중 구    77   236   240   372   386    155   361   403   137     0
3    용산구    68    83   295   491   115    322   623   422   464     0
4    성동구   110   366   281   942   457    643   485   367   232   135
5    광진구   176    95    40   666   460    712   190   738   273   112
6   동대문구     5    72   774   702   201    218   229   229   317     9
7    중랑구   104   145   153   170   215   1074   976   507   294   NaN
8    성북구   229   322   594   811   867    714   253   407   338   104
9    강북구    16    68   210     4   375    963   569   298   797   NaN
10   도봉구    54    27    91   116   183    195   179   592   591   259
11   노원구    75   509   329   171   216    324   387   215   144    18
12   은평구   332   329   555   403   635  1,057   288   471   522     0
13  서대문구   114   109   277   416   246    325   441   331   174    93
14   마포구   109   170   458   376   368    494   298   177   117    10
15   양천구   129   243   423   564   833    311   352   374   292   NaN
16   강서구   200   192   167   507   259    455   363   441   596    41
17   구로구   160   263   351   559   542    789   652   689   341   178
18   금천구    43   350   132   196   539    366   513   207   304   235
19  영등포구   295   360   285   422   803    153  1357   329   450    16
20   동작구   478   127   255   270   299    311   433    30   373    26
21   관악구   277   448   607   675   663    889   404   549   135   403
22   서초구    70   559   518  1054   426    344   422   566   876     0
23   강남구   573   826  1295   989   744    790   923   514   468     0
24   송파구    74   183   126   227   526   1050   237   151   431    99
25   강동구    56   174   226   351   379    362   635   301   429     2

In [7]:
cctv_data=cctv_data.melt(id_vars=['자치구'],var_name='년도',value_name='cctv 설치 수')
cctv_data['년도']=cctv_data['년도'].str.replace('년','').astype(int)

cctv_data.head()

   자치구    년도 cctv 설치 수
0  종로구  2014       103
1  중 구  2014        77
2  용산구  2014        68
3  성동구  2014       110
4  광진구  2014       176

In [8]:
cctv_crime_data=pd.merge(crime_data,cctv_data,on=['자치구','년도'])

cctv_crime_data

        년도  자치구     범죄유형  발생건수  검거건수 cctv 설치 수
0     2014  종로구       소계  5021  4610       103
1     2014  종로구       살인     3     7       103
2     2014  종로구       강도    12    15       103
3     2014  종로구  강간·강제추행   226   948       103
4     2014  종로구       절도  2272  1281       103
...    ...  ...      ...   ...   ...       ...
1291  2022  강동구       살인     5     6       429
1292  2022  강동구       강도     5     5       429
1293  2022  강동구  강간·강제추행   157   134       429
1294  2022  강동구       절도  1672   900       429
1295  2022  강동구       폭력  1872  1599       429

[1296 rows x 6 columns]

In [9]:
# 검거율
cctv_crime_data['검거건수']=pd.to_numeric(cctv_crime_data['검거건수'],errors='coerce')
cctv_crime_data['발생건수']=pd.to_numeric(cctv_crime_data['발생건수'],errors='coerce')
cctv_crime_data['검거율']=cctv_crime_data['검거건수']/cctv_crime_data['발생건수']*100